*.DS_Store
*.egg*
*.log
*.mo
*.pyc
*.swo
*.swp
*~
.coverage
.openstackclient-venv
.testrepository
.tox
.venv
AUTHORS
build
ChangeLog
dist
doc/build
# Development environment files
.project
.pydevproject
