cliff>=1.6.0
oslo.i18n>=0.2.0  # Apache-2.0
pbr>=0.6,!=0.7,<1.0
python-glanceclient>=0.13.1
python-keystoneclient>=0.10.0
python-novaclient>=2.17.0
python-cinderclient>=1.0.7
python-neutronclient>=2.3.6,<3
requests>=1.2.1
six>=1.7.0
